
main {
    .main__slider {
        flex: 1;
        max-width: 1120px;
        min-width: 300px;
        position: relative;
        
        .main__slider__images {
            display: block; 

            .main__slider__image {
                display: none;
                width: 100%; 
                height: auto;
            }
        
            .main__slider__image--active {
                display: block;
            }
        }
        
        .main__slider__dots {
            height: 500px;
            top: 1rem;
            position: absolute;
            flex-direction: column;
            display: flex;
            justify-content: space-between;
            left: 1rem;
        
            .main__slider__dot {
                height: 91px;
                width: 70px;


                img {
                    width: 100%;
                    height: auto;
                }
            }

/*             .main__slider__dot--active {

            } */
        }
    }
}

@media screen and (max-width: 410px) {
    .main {
        .main__slider {
            .main__slider__dots {
                transform: scale(.8);
                max-height: 500px;
                top: -30px;
                position: absolute;
                flex-direction: column;
                display: flex;
                justify-content: space-between;
                left: .5rem;
            }
        }
    }
   
}