.main__info__pop-up-button {
    margin-top: 1rem;
    text-decoration: underline;
    font-size: 14px;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  
  .main__info__pop-up-background {
    display: none;
  }
  
  .main__info__pop-up-background-active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333b0;
    z-index: 1;

    .main__info__pop-up {
        z-index: 2;
        position: relative;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        max-width: 250px;
        gap: 1rem;
      }
      
      .main__info__pop-up__close {
        width: 10px;
        height: 10px;
        align-self: flex-end;
        cursor: pointer;
      }
      
      .main__info__pop-up__input {
        padding: .5rem 5rem .5rem .2rem;
        text-align: start;
        border: solid 1px #333;
        color: #333;
        font-size: 14px;
        font-family: Open Sans;
      }
      
      .main__info__pop-up__terms {
        color: #989898;
        font-size: 10px;
        font-weight: 275;
        letter-spacing: -0.1px;
      }
      
      .main__info__pop-up__terms-rules {
        color: #333;
        text-decoration: underline;
      }
      
      .main__info__pop-up__submit {
        background-color: #333;
        color: #fff;
        border: none;
        padding: .5rem 2rem;
        align-self: flex-start;
      }
  }
  
 
  
  @media screen and (max-width: 375px) {
    .main__info__pop-up-background-active {
      height: 100vh;
    }
  }
  