@import "reset";
@import "header";
@import "main-slider";
@import "main";
@import "fonts";
@import "pop-up";

html {
    body {
        min-height: 100vh;
        width: 100%;
        font-family: 'Open Sans', Arial, sans-serif;

        p {
            color: #333;
        }
    }
}