@import "reset";
@import "header";
@import "main-slider";
@import "main";
@import "fonts";
@import "pop-up";
@import "footer";
@import "burger";

html {
    body {
        flex-direction: column;
        display: flex;
        min-height: 100vh;
        width: 100%;
        font-family: 'Open Sans', Arial, sans-serif;

        p {
            color: #333;
        }
    }
}